/* Styles for interface app */

/* Main page */
#WebGL-output {
    overflow: hidden;
    margin: 0;
}
#buttonControls {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: gray;
    border-radius: 15px;
}
#buttonControls p {
    color: #ffffff;
    text-align: center;
}